%p#notice= notice

%p
  %b Boy:
  = @phrase.boy
%p
  %b Title:
  = @phrase.title
%p
  %b Line:
  = @phrase.line
%p
  %b Image:
  = @phrase.image
%p
  %b Number:
  = @phrase.number

= link_to 'Edit', edit_phrase_path(@phrase)
\|
= link_to 'Back', phrases_path
