%h1 Listing boys

%table
  %tr
    %th Name
    %th Age
    %th Number
    %th
    %th
    %th

  - @boys.each do |boy|
    %tr
      %td= boy.name
      %td= boy.age
      %td= boy.number
      %td= link_to 'Show', boy
      %td= link_to 'Edit', edit_boy_path(boy)
      %td= link_to 'Destroy', boy, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Boy', new_boy_path
